[data-theme='dark'] {
  --primary: oklch(0.79 0.16 78.93);
  --background: #181e2e;
}
[data-theme='light'] {
  --primary: oklch(0.59 0.16 78.93);
  --background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}
// .field-label {
//   color: var(--primary);
// }
